<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的记录管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的记录管理系统 记录表(reckwkwords)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_title_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** pie_v2***/ init_echart("echart_reckwkwords_title_pie_v2",'reckwkwords.title_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_title_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** pie_v1***/ init_echart("echart_reckwkwords_title_pie_v1",'reckwkwords.title_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_title_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** pie***/ init_echart("echart_reckwkwords_title_pie",'reckwkwords.title_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_title_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** line***/ init_echart("echart_reckwkwords_title_line",'reckwkwords.title_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_title_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** bar***/ init_echart("echart_reckwkwords_title_bar",'reckwkwords.title_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_title_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录标题 ******************** bar_v1***/ init_echart("echart_reckwkwords_title_bar_v1",'reckwkwords.title_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_content_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** pie_v2***/ init_echart("echart_reckwkwords_content_pie_v2",'reckwkwords.content_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_content_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** pie_v1***/ init_echart("echart_reckwkwords_content_pie_v1",'reckwkwords.content_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_content_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** pie***/ init_echart("echart_reckwkwords_content_pie",'reckwkwords.content_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_content_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** line***/ init_echart("echart_reckwkwords_content_line",'reckwkwords.content_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_content_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** bar***/ init_echart("echart_reckwkwords_content_bar",'reckwkwords.content_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_content_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录内容 ******************** bar_v1***/ init_echart("echart_reckwkwords_content_bar_v1",'reckwkwords.content_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>









<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** pie_v2***/ init_echart("echart_reckwkwords_createtime_pie_v2",'reckwkwords.createtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** pie_v1***/ init_echart("echart_reckwkwords_createtime_pie_v1",'reckwkwords.createtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** pie***/ init_echart("echart_reckwkwords_createtime_pie",'reckwkwords.createtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** line***/ init_echart("echart_reckwkwords_createtime_line",'reckwkwords.createtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** bar***/ init_echart("echart_reckwkwords_createtime_bar",'reckwkwords.createtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_createtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 创建时间 ******************** bar_v1***/ init_echart("echart_reckwkwords_createtime_bar_v1",'reckwkwords.createtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** pie_v2***/ init_echart("echart_reckwkwords_updatetime_pie_v2",'reckwkwords.updatetime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** pie_v1***/ init_echart("echart_reckwkwords_updatetime_pie_v1",'reckwkwords.updatetime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** pie***/ init_echart("echart_reckwkwords_updatetime_pie",'reckwkwords.updatetime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** line***/ init_echart("echart_reckwkwords_updatetime_line",'reckwkwords.updatetime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** bar***/ init_echart("echart_reckwkwords_updatetime_bar",'reckwkwords.updatetime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_updatetime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 更新时间 ******************** bar_v1***/ init_echart("echart_reckwkwords_updatetime_bar_v1",'reckwkwords.updatetime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** pie_v2***/ init_echart("echart_reckwkwords_status_pie_v2",'reckwkwords.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** pie_v1***/ init_echart("echart_reckwkwords_status_pie_v1",'reckwkwords.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_status_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** pie***/ init_echart("echart_reckwkwords_status_pie",'reckwkwords.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_status_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** line***/ init_echart("echart_reckwkwords_status_line",'reckwkwords.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_status_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** bar***/ init_echart("echart_reckwkwords_status_bar",'reckwkwords.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 记录状态如公开、私有 ******************** bar_v1***/ init_echart("echart_reckwkwords_status_bar_v1",'reckwkwords.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_views_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** pie_v2***/ init_echart("echart_reckwkwords_views_pie_v2",'reckwkwords.views_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_views_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** pie_v1***/ init_echart("echart_reckwkwords_views_pie_v1",'reckwkwords.views_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_reckwkwords_views_pie" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** pie***/ init_echart("echart_reckwkwords_views_pie",'reckwkwords.views_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_reckwkwords_views_line" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** line***/ init_echart("echart_reckwkwords_views_line",'reckwkwords.views_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_views_bar" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** bar***/ init_echart("echart_reckwkwords_views_bar",'reckwkwords.views_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_reckwkwords_views_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 记录表 浏览次数 ******************** bar_v1***/ init_echart("echart_reckwkwords_views_bar_v1",'reckwkwords.views_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
