<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的记录管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    <style>
      body {
        color: black;
      }
      .bkimg {
        background-image: url('/static/imgs/default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 450px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    
    {% include 'config_visual/function_echart.html' %}
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的记录管理系统 权限表(permkwkwissions)</h3>
        </div>
      </div>
      {% csrf_token %}





<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_name_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** pie_v2***/ init_echart("echart_permkwkwissions_name_pie_v2",'permkwkwissions.name_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_name_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** pie_v1***/ init_echart("echart_permkwkwissions_name_pie_v1",'permkwkwissions.name_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_name_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** pie***/ init_echart("echart_permkwkwissions_name_pie",'permkwkwissions.name_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_name_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** line***/ init_echart("echart_permkwkwissions_name_line",'permkwkwissions.name_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_name_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** bar***/ init_echart("echart_permkwkwissions_name_bar",'permkwkwissions.name_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_name_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限名称 ******************** bar_v1***/ init_echart("echart_permkwkwissions_name_bar_v1",'permkwkwissions.name_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_description_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** pie_v2***/ init_echart("echart_permkwkwissions_description_pie_v2",'permkwkwissions.description_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_description_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** pie_v1***/ init_echart("echart_permkwkwissions_description_pie_v1",'permkwkwissions.description_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_description_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** pie***/ init_echart("echart_permkwkwissions_description_pie",'permkwkwissions.description_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_description_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** line***/ init_echart("echart_permkwkwissions_description_line",'permkwkwissions.description_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_description_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** bar***/ init_echart("echart_permkwkwissions_description_bar",'permkwkwissions.description_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_description_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 描述 ******************** bar_v1***/ init_echart("echart_permkwkwissions_description_bar_v1",'permkwkwissions.description_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** pie_v2***/ init_echart("echart_permkwkwissions_createtime_pie_v2",'permkwkwissions.createtime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** pie_v1***/ init_echart("echart_permkwkwissions_createtime_pie_v1",'permkwkwissions.createtime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** pie***/ init_echart("echart_permkwkwissions_createtime_pie",'permkwkwissions.createtime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** line***/ init_echart("echart_permkwkwissions_createtime_line",'permkwkwissions.createtime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** bar***/ init_echart("echart_permkwkwissions_createtime_bar",'permkwkwissions.createtime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_createtime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 创建时间 ******************** bar_v1***/ init_echart("echart_permkwkwissions_createtime_bar_v1",'permkwkwissions.createtime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** pie_v2***/ init_echart("echart_permkwkwissions_updatetime_pie_v2",'permkwkwissions.updatetime_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** pie_v1***/ init_echart("echart_permkwkwissions_updatetime_pie_v1",'permkwkwissions.updatetime_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** pie***/ init_echart("echart_permkwkwissions_updatetime_pie",'permkwkwissions.updatetime_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** line***/ init_echart("echart_permkwkwissions_updatetime_line",'permkwkwissions.updatetime_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** bar***/ init_echart("echart_permkwkwissions_updatetime_bar",'permkwkwissions.updatetime_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_updatetime_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 更新时间 ******************** bar_v1***/ init_echart("echart_permkwkwissions_updatetime_bar_v1",'permkwkwissions.updatetime_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** pie_v2***/ init_echart("echart_permkwkwissions_systemmodule_pie_v2",'permkwkwissions.systemmodule_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** pie_v1***/ init_echart("echart_permkwkwissions_systemmodule_pie_v1",'permkwkwissions.systemmodule_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** pie***/ init_echart("echart_permkwkwissions_systemmodule_pie",'permkwkwissions.systemmodule_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** line***/ init_echart("echart_permkwkwissions_systemmodule_line",'permkwkwissions.systemmodule_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** bar***/ init_echart("echart_permkwkwissions_systemmodule_bar",'permkwkwissions.systemmodule_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_systemmodule_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 所属系统模块 ******************** bar_v1***/ init_echart("echart_permkwkwissions_systemmodule_bar_v1",'permkwkwissions.systemmodule_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** pie_v2***/ init_echart("echart_permkwkwissions_actiontype_pie_v2",'permkwkwissions.actiontype_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** pie_v1***/ init_echart("echart_permkwkwissions_actiontype_pie_v1",'permkwkwissions.actiontype_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** pie***/ init_echart("echart_permkwkwissions_actiontype_pie",'permkwkwissions.actiontype_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** line***/ init_echart("echart_permkwkwissions_actiontype_line",'permkwkwissions.actiontype_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** bar***/ init_echart("echart_permkwkwissions_actiontype_bar",'permkwkwissions.actiontype_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_actiontype_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 动作类型如增删改查 ******************** bar_v1***/ init_echart("echart_permkwkwissions_actiontype_bar_v1",'permkwkwissions.actiontype_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** pie_v2***/ init_echart("echart_permkwkwissions_resource_pie_v2",'permkwkwissions.resource_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** pie_v1***/ init_echart("echart_permkwkwissions_resource_pie_v1",'permkwkwissions.resource_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** pie***/ init_echart("echart_permkwkwissions_resource_pie",'permkwkwissions.resource_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** line***/ init_echart("echart_permkwkwissions_resource_line",'permkwkwissions.resource_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** bar***/ init_echart("echart_permkwkwissions_resource_bar",'permkwkwissions.resource_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_resource_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 资源标识 ******************** bar_v1***/ init_echart("echart_permkwkwissions_resource_bar_v1",'permkwkwissions.resource_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



<div class="row">
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_status_pie_v2" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** pie_v2***/ init_echart("echart_permkwkwissions_status_pie_v2",'permkwkwissions.status_pie_v2','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_status_pie_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** pie_v1***/ init_echart("echart_permkwkwissions_status_pie_v1",'permkwkwissions.status_pie_v1','/config_visual/bi',{},);</script>
<div class="col-sm-3"><div class="default-echart-border"><div id="echart_permkwkwissions_status_pie" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** pie***/ init_echart("echart_permkwkwissions_status_pie",'permkwkwissions.status_pie','/config_visual/bi',{});</script>
<div class="col-sm-5"><div class="default-echart-border"><div id="echart_permkwkwissions_status_line" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** line***/ init_echart("echart_permkwkwissions_status_line",'permkwkwissions.status_line','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_status_bar" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** bar***/ init_echart("echart_permkwkwissions_status_bar",'permkwkwissions.status_bar','/config_visual/bi',{});</script>
<div class="col-sm-4"><div class="default-echart-border"><div id="echart_permkwkwissions_status_bar_v1" class="myechart_size"></div></div></div>
<script>/*** 权限表 权限状态如启用、禁用 ******************** bar_v1***/ init_echart("echart_permkwkwissions_status_bar_v1",'permkwkwissions.status_bar_v1','/config_visual/bi',{},polar={radius: [30, '80%']});</script>
</div>



    </div>
  </body>
</html>
