<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>beta_基于django的记录管理系统</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    {% include 'config_visual/echart-json.html' %}
    <style>
      body {
        color: white;
      }
      .bkimg {
        background-image: url('/static/imgs/default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(90%);
        filter: brightness(10%);
        overflow: hidden;
      }
      .myechart_size {
        height: 480px;
      }
      .myechart_size-height-full {
        with: 95%;
        height: 480px;
      }
    </style>
    <script>
     function load_echart(echart_id, echart_option, theme_name){
      echarts.init(document.getElementById(echart_id), theme_name).setOption(echart_option);
     }
      
    </script>
  </head>
  <body>
    <div class="bg-image" style="{% include 'config_visual/background.html' %}">
      <div class="row">
        <div class="d-flex justify-content-center">
          <h3 style="color:black; font-size: 30px; font-weight: bold;">beta_基于django的记录管理系统</h3>
        </div>
      </div>
      {% csrf_token %} 


















    </div>
  </body>
</html>
