<!-- 数据大屏 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据分析</title>
    <link rel="stylesheet" href="/static/css/mycss/reset.css">
    <link rel="stylesheet" href="/static/css/mycss/bi.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/echarts.js"></script>
    
</head>
<body>
    <div id="container">
        <div id="time_show"></div>
        <h1 class="header_show">beta_基于django的记录管理系统</h1>
        <div id="demo1" class="box_show"></div>
        <div id="demo2" class="box_show"></div>
        <div id="demo3" class="box_show"></div>
        <div id="demo4" class="box_show"></div>
        <div id="demo5" class="box_show"></div>
        <div id="demo6" class="box_show"></div>
    </div>
    <script src="/static/js/myjs/bi.js"></script>
</body>
</html>