{% extends '../tp.html' %}

{% block title %}
评论表
{% endblock %}

{% block body %}
  <div class="my-container-margin">
    <div class="divider"></div>
    {% csrf_token %}
    <div class="section">
      <h4>评论表</h4>
      <div>
        <div class="row">
          
<div class="col-sm-10">
          {% if has_add %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalinsert" class="waves-effect waves-light btn">添加</button>
          {% endif %}
        
        
          
</div>
<div class="col-sm-2">
<a href="/config_visual/bi_tpcomments" target="_blank" class="waves-effect waves-light btn">
统计分析
</a>
</div>
        </div>  
        <div class="section">
          {% if record %}
            <h3>Empty Data</h3>
          {% else %}
          
<!--展开-->
<div >
<div class="toggle-submenu" data-bs-target="#form_search">
筛选
</div>
<div id="form_search">
<div class="row custom-form">
<form action="" method="get" class="form">




<div class="form-group">
<label for="reckwkwordid" class="col-form-label">记录ID关联到记录(reckwkwordid)</label>
<select name="reckwkwordid_search" id="reckwkwordid_search" class="col-form-control">
<option value="" class="form-option">未选择</option>
{% for record in data_mc_reckwkwords_57569 %}
<option value="{{record.value}}" class="form-option" {%if record.value == obj.reckwkwordid_search %} selected="selected" {% endif %}>
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>



<div class="form-group">
<label for="userid" class="col-form-label">用户ID关联到用户(userid)</label>
<select name="userid_search" id="userid_search" class="col-form-control">
<option value="" class="form-option">未选择</option>
{% for record in data_mc_users_57570 %}
<option value="{{record.value}}" class="form-option" {%if record.value == obj.userid_search %} selected="selected" {% endif %}>
<p>{{record.value}}:{{record.label }}</p>
</option>
{% endfor %}
</select>
</div>











<div class="form-group">
<label for="likes" class="col-form-label">点赞数(likes)</label>
<input type="text" class="form-control"
name="likes_search"
value="{{record.obj.likes_search}}"
id="likes_search" class="col-form-control">
</div>


<div class="form-group">
<button type="submit" class="btn btn-primary" >
<i class="fas fa-search">搜索</i>
</button>
<a type="reset" class="btn btn-default" href="/config_busi/comments">
<i class="fas fa-eraser">重置</i>
</a>
</div>
</form>
</div>
</div>            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  
{% if mcauthfield_id.mcauthview %}
<td>
评论ID
</td>
{% endif %}

{% if mcauthfield_reckwkwordid.mcauthview %}
<td>
记录ID关联到记录
</td>
{% endif %}

{% if mcauthfield_userid.mcauthview %}
<td>
用户ID关联到用户
</td>
{% endif %}

{% if mcauthfield_content.mcauthview %}
<td>
评论内容
</td>
{% endif %}

{% if mcauthfield_createtime.mcauthview %}
<td>
创建时间
</td>
{% endif %}

{% if mcauthfield_status.mcauthview %}
<td>
评论状态如审核通过、待审核、删除
</td>
{% endif %}

{% if mcauthfield_parentid.mcauthview %}
<td>
父评论ID用于构建评论树
</td>
{% endif %}

{% if mcauthfield_likes.mcauthview %}
<td>
点赞数
</td>
{% endif %}
<th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                  <tr>
                    
 {% if mcauthfield_id.mcauthview %}
<td class="text-nowrap-cell">

{% if record.id %}
{{record.id.name}}
<p title="{{record.id}}">
{{record.id|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_reckwkwordid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.reckwkwordid}}">
{{record.reckwkwordid }}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_userid.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.userid}}">
{{record.userid }}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_content.mcauthview %}
<td class="text-nowrap-cell">

{% if record.content %}
{{record.content.name}}
<p title="{{record.content}}">
{{record.content|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_createtime.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.createtime}}">
{{record.createtime }}
</p>

</td>
{% endif %}
 
 {% if mcauthfield_status.mcauthview %}
<td class="text-nowrap-cell">

{% if record.status %}
{{record.status.name}}
<p title="{{record.status}}">
{{record.status|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_parentid.mcauthview %}
<td class="text-nowrap-cell">

{% if record.parentid %}
{{record.parentid.name}}
<p title="{{record.parentid}}">
{{record.parentid|truncatechars:20}}
</p>
{% endif %}

</td>
{% endif %}
 
 {% if mcauthfield_likes.mcauthview %}
<td class="text-nowrap-cell">

<p title="{{record.likes}}">
{{record.likes }}
</p>

</td>
{% endif %}
 <td>
                      {% if has_upd %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalupdate">修改</button>
                      {% endif %}
                      {% if has_del %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalremove">删除</button>
                      {% endif %}
                      {% if has_view %}
                        <button data-bs-data="{{ record.id }}" data-bs-toggle="modal" data-bs-target="#modalpreview">查看</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal Structure -->

  {% if has_add %}
    <div id="modalinsert" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">
              <h4>添加</h4>
            </div>
          </div>
          <div class="modal-body">
            <div class="custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="add" hidden />{% csrf_token %}<div class="">
        {% if mcauthfield_id.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="id" class="form-label form-group">评论ID</label>

<textarea class="form-control form-control-lg" name="id" id="id" {% if not mcauthfield_id.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_reckwkwordid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="reckwkwordid" class="form-label form-group">记录ID关联到记录</label>

<select class="form-select form-select-lg mb-3" name="reckwkwordid" id="reckwkwordid" {% if not mcauthfield_reckwkwordid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_reckwkwords_57569 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_userid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="userid" class="form-label form-group">用户ID关联到用户</label>

<select class="form-select form-select-lg mb-3" name="userid" id="userid" {% if not mcauthfield_userid.mcisblank %}required {% endif %} data-name="insert"> <option value="" selected>未选择</option> {% for record in data_mc_users_57570 %} 
<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>
 {% endfor %}
</select>

</div>
        {% endif %}

        {% if mcauthfield_content.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="content" class="form-label form-group">评论内容</label>

<textarea class="form-control form-control-lg" name="content" id="content" {% if not mcauthfield_content.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_createtime.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="createtime" class="form-label form-group">创建时间</label>

</div>
        {% endif %}

        {% if mcauthfield_status.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="status" class="form-label form-group">评论状态如审核通过、待审核、删除</label>

<textarea class="form-control form-control-lg" name="status" id="status" {% if not mcauthfield_status.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_parentid.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="parentid" class="form-label form-group">父评论ID用于构建评论树</label>

<textarea class="form-control form-control-lg" name="parentid" id="parentid" {% if not mcauthfield_parentid.mcisblank %}required {% endif %}data-name="insert"></textarea>

</div>
        {% endif %}

        {% if mcauthfield_likes.mcauthchange  %}
<div class="input-field col s12 mb-3">
    <label for="likes" class="form-label form-group">点赞数</label>

<input type="text" class="form-control form-control-lg" name="likes" id="likes"{% if not mcauthfield_likes.mcisblank %}required {% endif %}data-name="insert">

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="modal-action modal-close btn-primary btn waves-effect waves-light">提交</button>
                  <button type="reset" class="modal-action modal-close btn-default btn waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_upd %}
    <div id="modalupdate" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title">修改</div>
          </div>
          <div class="modal-body">
            <div class="custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="upd" hidden />{% csrf_token %}<input type="text" name="_id_upd" value="" data-name="update_id" hidden />
                <div class="">
           {% if mcauthfield_id.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="id_upd"
class="form-label form-group">
评论ID(id)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="id"
id="id_upd"
placeholder="评论ID"
{% if not mcauthfield_id.mcisblank %}
required
{% endif %}
{% if not mcauthfield_id.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_reckwkwordid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="reckwkwordid_upd"
class="form-label form-group">
记录ID关联到记录(reckwkwordid)
</label>

<select class="form-select form-select-lg mb-3" name="reckwkwordid"
id="reckwkwordid_upd"
{% if not mcauthfield_reckwkwordid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_reckwkwordid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_reckwkwords_57569 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_userid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="userid_upd"
class="form-label form-group">
用户ID关联到用户(userid)
</label>

<select class="form-select form-select-lg mb-3" name="userid"
id="userid_upd"
{% if not mcauthfield_userid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_userid.mcauthchange %}
readonly
{% endif %}
data-name="update">
<option value="">未选择</option>
{% for record in data_mc_users_57570 %}

<option value="{{record.value}}">

<p>{{record.value}}:{{record.label }}</p>

</option>

{% endfor %}
</select>

</div>
        {% endif %}

           {% if mcauthfield_content.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="content_upd"
class="form-label form-group">
评论内容(content)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="content"
id="content_upd"
placeholder="评论内容"
{% if not mcauthfield_content.mcisblank %}
required
{% endif %}
{% if not mcauthfield_content.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_createtime.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="createtime_upd"
class="form-label form-group">
创建时间(createtime)
</label>

</div>
        {% endif %}

           {% if mcauthfield_status.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="status_upd"
class="form-label form-group">
评论状态如审核通过、待审核、删除(status)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="status"
id="status_upd"
placeholder="评论状态如审核通过、待审核、删除"
{% if not mcauthfield_status.mcisblank %}
required
{% endif %}
{% if not mcauthfield_status.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_parentid.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="parentid_upd"
class="form-label form-group">
父评论ID用于构建评论树(parentid)
</label>

<textarea type="text" class="validate form-control form-control-lg"
name="parentid"
id="parentid_upd"
placeholder="父评论ID用于构建评论树"
{% if not mcauthfield_parentid.mcisblank %}
required
{% endif %}
{% if not mcauthfield_parentid.mcauthchange %}
readonly
{% endif %}
data-name="update"></textarea>

</div>
        {% endif %}

           {% if mcauthfield_likes.mcauthview %}
<div class="input-field col s12 mb-3">
        <label for="likes_upd"
class="form-label form-group">
点赞数(likes)
</label>

<input type="text" class="validate form-control form-control-lg"
name="likes"
id="likes_upd"
placeholder="点赞数"
{% if not mcauthfield_likes.mcisblank %}
required
{% endif %}
{% if not mcauthfield_likes.mcauthchange %}
readonly
{% endif %}
data-name="update">

</div>
        {% endif %}
</div>
                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">提交</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_del %}
    <div id="modalremove" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">删除</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>确认删除这条记录吗?</p>
          </div>
          <div class="modal-footer">
            <div class="row custom-form">
              <form action="" method="post" enctype="multipart/form-data" class="col s12">
                <input type="text" name="optype" value="del" hidden />{% csrf_token %}<input type="text" name="_id" value="" data-name="remove" hidden />

                <div class="modal-footer">
                  <button type="submit" class="btn modal-action modal-close btn-primary waves-effect waves-light">确认</button>
                  <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if has_view %}
    <div id="modalpreview" class="modal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-custom">
        <div class="modal-content">
          <h4>预览</h4>
          <div class="">
            
{% if mcauthfield_id.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">评论ID</p>

<p id="id_view">
{{record.id|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_reckwkwordid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">记录ID关联到记录</p>

<p id="reckwkwordid_view">
{{record.reckwkwordid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_userid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">用户ID关联到用户</p>

<p id="userid_view">
{{record.userid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_content.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">评论内容</p>

<p id="content_view">
{{record.content|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_createtime.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">创建时间</p>

<p id="createtime_view">
{{record.createtime|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_status.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">评论状态如审核通过、待审核、删除</p>

<p id="status_view">
{{record.status|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_parentid.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">父评论ID用于构建评论树</p>

<p id="parentid_view">
{{record.parentid|safe }}
</p>

</div>
{% endif %}

{% if mcauthfield_likes.mcauthview  %}
<div class="input-field col s12 mb-3">
    <p class="text-bodyform-label">点赞数</p>

<p id="likes_view">
{{record.likes|safe }}
</p>

</div>
{% endif %}
<div class="modal-footer">
              <button type="reset" class="btn modal-action modal-close btn-default waves-effect waves-light" data-bs-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script-footer %}
<script>
  function myreset(){
window.location.href= "/config_busi/comments";
};
if (document.getElementById("modalupdate")){
document.getElementById("modalupdate").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/comments',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {

{% if mcauthfield_id.mcauthview %}
$("#id_upd").val(resp.ins.id);
{% endif %}

{% if mcauthfield_reckwkwordid.mcauthview %}
$("#reckwkwordid_upd").val(resp.ins.reckwkwordid);
{% endif %}

{% if mcauthfield_userid.mcauthview %}
$("#userid_upd").val(resp.ins.userid);
{% endif %}

{% if mcauthfield_content.mcauthview %}
$("#content_upd").val(resp.ins.content);
{% endif %}

{% if mcauthfield_createtime.mcauthview %}
$("#createtime_upd").val(resp.ins.createtime);
{% endif %}

{% if mcauthfield_status.mcauthview %}
$("#status_upd").val(resp.ins.status);
{% endif %}

{% if mcauthfield_parentid.mcauthview %}
$("#parentid_upd").val(resp.ins.parentid);
{% endif %}

{% if mcauthfield_likes.mcauthview %}
$("#likes_upd").val(resp.ins.likes);
{% endif %}

},
error: err => {
},
complete: res => {
},
})
});
};
function upd(_id){
let data = {
optype:'get',
_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value,

{% if mcauthfield_id.mcauthchange %}
id:$("#id_upd]").val(),
{% endif %}

{% if mcauthfield_reckwkwordid.mcauthchange %}
reckwkwordid:$("#reckwkwordid_upd]").val(),
{% endif %}

{% if mcauthfield_userid.mcauthchange %}
userid:$("#userid_upd]").val(),
{% endif %}

{% if mcauthfield_content.mcauthchange %}
content:$("#content_upd]").val(),
{% endif %}

{% if mcauthfield_createtime.mcauthchange %}
createtime:$("#createtime_upd]").val(),
{% endif %}

{% if mcauthfield_status.mcauthchange %}
status:$("#status_upd]").val(),
{% endif %}

{% if mcauthfield_parentid.mcauthchange %}
parentid:$("#parentid_upd]").val(),
{% endif %}

{% if mcauthfield_likes.mcauthchange %}
likes:$("#likes_upd]").val(),
{% endif %}

}
$.ajax({
url: '/config_busi/comments',
method: 'post',
data: data,
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
if (document.getElementById("modalpreview")) {
document.getElementById("modalpreview").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=update_id]").val(_id);
$.ajax({
url: '/config_busi/comments',
method: 'post',
data: {optype:'get',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {



{% if mcauthfield_id.mcauthview %}
document.getElementById("id_view").innerHTML=resp.ins.id;
{% endif %}




{% if mcauthfield_reckwkwordid.mcauthview %}
document.getElementById("reckwkwordid_view").innerHTML=resp.ins.reckwkwordid;
{% endif %}




{% if mcauthfield_userid.mcauthview %}
document.getElementById("userid_view").innerHTML=resp.ins.userid;
{% endif %}




{% if mcauthfield_content.mcauthview %}
document.getElementById("content_view").innerHTML=resp.ins.content;
{% endif %}




{% if mcauthfield_createtime.mcauthview %}
document.getElementById("createtime_view").innerHTML=resp.ins.createtime;
{% endif %}




{% if mcauthfield_status.mcauthview %}
document.getElementById("status_view").innerHTML=resp.ins.status;
{% endif %}




{% if mcauthfield_parentid.mcauthview %}
document.getElementById("parentid_view").innerHTML=resp.ins.parentid;
{% endif %}




{% if mcauthfield_likes.mcauthview %}
document.getElementById("likes_view").innerHTML=resp.ins.likes;
{% endif %}


},
error: err => {
},
complete: res => {
},
})
});
};
if (document.getElementById("modalremove")) {
document.getElementById("modalremove").addEventListener("show.bs.modal",event=>{
let _id = event.relatedTarget.getAttribute('data-bs-data');
$("input[data-name=remove]").val(_id);
});
};
function del(_id){
$.ajax({
url: '/config_busi/comments',
method: 'post',
data: {optype:'del',_id:_id,csrfmiddlewaretoken:document.querySelector('[name=csrfmiddlewaretoken]').value}, // JSON.stringify(data),
dataType: 'json',
success: resp => {
console.log(resp);
},
error: err => {
},
complete: res => {
},
})
};
</script>
{% endblock %}
