{% extends 'tp_5.html' %}

{% block title %}
beta_基于django的记录管理系统

{% endblock %}
{% block header-image %}
{% include 'header-image.html' %}

{% endblock %}

{% block body %}

<div class="my-container-margin">
    <div class="row">
        <div class="col s6">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                V5

            </ul>
        </div>
    </div>
</div>
<div class="my-container-margin">
    <div class="tab-content" id="myTabContent">
        V5

    </div>
</div>

{% endblock %}

{% block footer %}

CopyRight ©beta_基于django的记录管理系统

{% endblock %}

{% block script-footer %}

{% endblock %}