<style>.default-echart-border{
    color: #91cdf2;
    border-color: #393740;
    font-size: 1rem;
    font-weight: 700;
    font-style: oblique;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 12px;
    border-radius: 7px;
    box-shadow: 1px rgba(75, 192, 192, 1);
    padding: 2px;
    background-color: #f2c9d7;
}.btn{
    color: #e9b2ce;
    border-color: #4f311d;
    font-size: 2.1rem;
    font-weight: 400;
    font-style: normal;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 2px;
    border-radius: 0;
    box-shadow: 0px rgba(255, 206, 86, 1);
    padding: 2px;
    background-color: #f5dab7;
}.my-header{
    color: black;
    border-color: #473830;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 6px;
    border-radius: 0;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 3px;
    background-color: white;
}.my-container-margin{
    color: #e4d3a4;
    border-color: #424855;
    font-size: 0.7rem;
    font-weight: 400;
    font-style: oblique;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 2px;
    border-radius: 4px;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 2px;
    background-color: #ecf59d;
}.table{
    color: #c1a3a3;
    border-color: #1a044c;
    font-size: 1.9rem;
    font-weight: 600;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 1px;
    border-radius: 2px;
    box-shadow: 0px rgba(255, 99, 132, 1);
    padding: 2px;
    background-color: #fbfee1;
}.form-control{
    color: #be9c91;
    border-color: #001d32;
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 6px;
    border-radius: 6px;
    box-shadow: 3px rgba(255, 206, 86, 1);
    padding: 1px;
    background-color: #e7d9a4;
}.form-control-label{
    color: #dcf9a3;
    border-color: #2d1a4d;
    font-size: 1.1rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 11px;
    border-radius: 6px;
    box-shadow: 0px rgba(255, 99, 132, 1);
    padding: 0;
    background-color: #dbabca;
}.form-control-input{
    color: #d3e0f1;
    border-color: #1f1f54;
    font-size: 2.6rem;
    font-weight: 600;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 0;
    border-radius: 12px;
    box-shadow: 2px rgba(255, 159, 64, 1);
    padding: 4px;
    background-color: #da9ad7;
}</style>