<style>.default-echart-border{
    color: #ffa4d8;
    border-color: #514f21;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    border: 1px solid rgba(255, 159, 64, 1);
    margin: 8px;
    border-radius: 8px;
    box-shadow: 3px rgba(255, 206, 86, 1);
    padding: 2px;
    background-color: #efacfa;
}.btn{
    color: #afb9ff;
    border-color: #54221e;
    font-size: 1rem;
    font-weight: 700;
    font-style: oblique;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 6px;
    border-radius: 6px;
    box-shadow: 1px rgba(54, 162, 235, 1);
    padding: 4px;
    background-color: #bbd9ee;
}.my-header{
    color: black;
    border-color: #2c141d;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 5px;
    border-radius: 2px;
    box-shadow: 3px rgba(54, 162, 235, 1);
    padding: 2px;
    background-color: white;
}.my-container-margin{
    color: #dadaff;
    border-color: #082b4d;
    font-size: 0.7rem;
    font-weight: 200;
    font-style: italic;
    border: 1px solid rgba(255, 99, 132, 1);
    margin: 0;
    border-radius: 4px;
    box-shadow: 1px rgba(255, 159, 64, 1);
    padding: 1px;
    background-color: #c2c2b1;
}.table{
    color: #93a092;
    border-color: #45182d;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 2px;
    border-radius: 1px;
    box-shadow: 3px rgba(54, 162, 235, 1);
    padding: 2px;
    background-color: #c79af4;
}.form-control{
    color: #ffa1c9;
    border-color: #4c5515;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: normal;
    border: 1px solid rgba(153, 102, 255, 1);
    margin: 3px;
    border-radius: 12px;
    box-shadow: 2px rgba(54, 162, 235, 1);
    padding: 3px;
    background-color: #f291ad;
}.form-control-label{
    color: #d69eb0;
    border-color: #180615;
    font-size: 2.3rem;
    font-weight: 100;
    font-style: normal;
    border: 1px solid rgba(255, 206, 86, 1);
    margin: 7px;
    border-radius: 6px;
    box-shadow: 0px rgba(153, 102, 255, 1);
    padding: 1px;
    background-color: #b2ddfc;
}.form-control-input{
    color: #e9cdf8;
    border-color: #081325;
    font-size: 1rem;
    font-weight: 200;
    font-style: oblique;
    border: 1px solid rgba(75, 192, 192, 1);
    margin: 9px;
    border-radius: 1px;
    box-shadow: 0px rgba(255, 206, 86, 1);
    padding: 0;
    background-color: #d6eaf7;
}</style>