
<h1>
语法介绍：
</h1>
<p>
参考下述格式，以及附带的模板，实现自定义表格内容展示
</p>
<p>
默认使用系统提供的接口展示所有的字段和数值，需要定制的可以在此基础上做修改
</p>
{% if ins%}
<table class="table table-bordered table-hover table-striped text-nowrap">
<thead>
<tr>

<th class="text-nowrap-cell">
分类ID
</th>

<th class="text-nowrap-cell">
分类名称
</th>

<th class="text-nowrap-cell">
关联父分类ID用于构建分类树
</th>

<th class="text-nowrap-cell">
描述
</th>

<th class="text-nowrap-cell">
创建时间
</th>

<th class="text-nowrap-cell">
更新时间
</th>

<th class="text-nowrap-cell">
显示顺序
</th>

<th class="text-nowrap-cell">
分类状态如启用、禁用
</th>

<th>
<span class="text-nowrap">
操作
</span>
</th>
</tr>
</thead>
<tbody>
{% for record in ins.records%}
<tr>

<td class="text-nowrap-cell">
<span title="{{record.id}}">
{{record.id|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.name}}">
{{record.name|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.parentid}}">
{{record.parentid|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.description}}">
{{record.description|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.createtime}}">
{{record.createtime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.updatetime}}">
{{record.updatetime|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.kwkwordernumber}}">
{{record.kwkwordernumber|truncatechars:20}}
</span>
</td>

<td class="text-nowrap-cell">
<span title="{{record.status}}">
{{record.status|truncatechars:20}}
</span>
</td>

<td>
<a href="/config_busi/reckwkwordcategkwkwories?id_search={{record..id}}" class="btn btn-sm btn-primary">
详情
</a>
</td>
</tr>
{% endfor%}
</tbody>
</table>
{% else%}
<h3>
Empty Data
</h3>
{% endif%}

In table....